body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(255, 242, 0);
    background-image: url(../img/bg-texture.png);

}

.container {
    margin: 0;
    padding: 0;
}


/* index.html */
/* .background img {
    width: 100%;
    height: 130%;
    position: absolute;
    z-index: -1;
    top: 0;
} */

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}

.analyzer {
    margin-top: 4%;
    width: 75%;
    margin-left: 7%;
    background-color: rgba(240, 248, 255, 0.849);
    padding: 30px;
    border-radius: 8px;
}

b {
    color: blue;
}

.wordsList {
    border-radius: 3px;
    border-color: black;
    background-color: aliceblue;
}

.footer-container {
   
  margin: 0 auto;
}

.footer__copyright {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid rgb(179, 179, 183);
    /* margin: 0 auto 0 auto; */
    background: #000;
    /* width: 76%; */
    margin-bottom: 0%;

}

small, small a {
    color: white;
}

small a:hover {
    color: white;
}

@media screen and (max-width: 768px) {

    .container {
        display: block;
    }
         h1 {
        font-size: 1.2rem;
    }

    textarea {
        width: 100%;
        padding: 0.1rem;
        resize: none;
        height: 2rem;
    }

    .footer__copyright {
        text-align: center;
        background: #000;
        font-size: 1.1rem;
        margin-top: 4rem;
        padding: 1.2rem 0;
        border-top: 1px solid rgb(179, 179, 183);
        margin: 0 auto;
        /* margin-bottom: 0; */
    }
}